{% extends '@layout/default.html.twig' %}

{% block content %}
    <form method="post">
        <div class="form-group">
            <label for="email">E-mail</label>
            <input id="email" type="text" name="email" class="form-control" />
        </div>
        <button class="btn btn-primary">Next</button>
    </form>
{% endblock %}