{% extends '@layout/default.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-2">State:</div>
        <div class="col-md-7">{{ order.status }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Email:</div>
        <div class="col-md-7">{{ order.email }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Method:</div>
        <div class="col-md-7">{{ order.paymentMethod }}</div>
    </div>

    <form method="post">
        <button class="btn btn-primary">Finish</button>
    </form>
{% endblock %}